# Google Scholar synchronization
# Get your private API key from your SerpApi account.
SERPAPI_KEY=a9130c6289f7ab6592a690bae3fb8dbebaf3b6fddd867a85fe91168563c5e431

# Optional: defaults to the professor's Google Scholar profile.
SCHOLAR_ID=r0OoVlQAAAAJ
